
.customNavbar
{
background-color: rgba(236, 225, 225, 0.301);
box-shadow: 0px 0px 20px black;

}

.navLogo
{
    height: 50px;
    width: 50px;
}

.linkSection
{
    width: 100%;
    justify-content: center;
    margin-left: auto;
}

.linkSection a
{
    margin-left: 50px;
    margin-right: 50px;
}